[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = {version = "*", extras = ["pandas"]}
pytest = "*"
jupyter = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
